.services{
    color: var(--white-color);
}

.services h1{
    text-align: center;
    padding-bottom: 40px;
}


.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

/* cart  */

.single-service{
    padding: 30px 20px;
    background: var(--second-bg-color);
    border-radius: 10px;
    border: 2px solid var(--second-bg-color);
    transition: .5s;
}

.single-service:hover{
    border: 2px solid var(--main-color);
}

.single-service span{
    font-size: 40px;
}

.single-service h2{
    font-size: 25px;
    padding-bottom: 15px;
}



/* mobile responsive  */

@media (max-width: 480px){
    .service-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
    }
}



@media (max-width: 320px){
    section{
        padding: 40px 5%;
    }

    
    .service-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 2rem;
    }
}
